
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    padding-top:75px;
}

.clickable-row:hover, button.list-group-item:hover {
    cursor:pointer;
}

button.list-group-item {
    text-align:left;
}

button.list-group-item:hover {
    background-color:#f1f1f1;
}

.package-icon {
    max-width:35px;
}

td {
    vertical-align: middle !important;
}

.card-header-sm {
    font-size:1em;
}

.modal-lg {
    width:100%;
    max-width: none;
}

.modal-dialog-lg {
    width:90%;
    margin:0 auto;
}
